# [SQL using Python](https://www.geeksforgeeks.org/sql-using-python)

In [5]:
# ! pip install mysql-connector-python

In [1]:
import sqlite3

In [2]:
sqliteConnection = sqlite3.connect('gfg.db')
sqliteConnection

In [3]:
cursor = sqliteConnection.cursor()
cursor

In [4]:
import sqlite3
 
# connecting to the database
connection = sqlite3.connect("gfg.db")
 
# cursor
crsr = connection.cursor()
 
# print statement will execute if there
# are no errors
print("Connected to the database")
 
# close the connection
connection.close()

Connected to the database

In [5]:
import sqlite3
 
# connecting to the database
connection = sqlite3.connect("gfg.db")
 
# cursor
crsr = connection.cursor()
 
# SQL command to create a table in the database
sql_command = """
CREATE TABLE emp (
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE);
"""
 
# execute the statement
crsr.execute(sql_command)
 
# close the connection
connection.close()

In [6]:
# Python code to demonstrate table creation and
# insertions with SQL
 
# importing module
import sqlite3
 
# connecting to the database
connection = sqlite3.connect("gfg.db")
 
# cursor
crsr = connection.cursor()
 
# SQL command to insert the data in the table
sql_command = """
INSERT INTO emp VALUES (23, "Rishabh", "Bansal", "M", "2014-03-28");
"""
crsr.execute(sql_command)
 
# another SQL command to insert the data in the table
sql_command = """
INSERT INTO emp VALUES (1, "Bill", "Gates", "M", "1980-10-28");
"""
crsr.execute(sql_command)
 
# To save the changes in the files. Never skip this.
# If we skip this, nothing will be saved in the database.
connection.commit()
 
# close the connection
connection.close()

In [7]:
# importing module
import sqlite3
 
# connecting to the database
connection = sqlite3.connect("gfg.db")
 
# cursor
crsr = connection.cursor()
 
# primary key
pk = [2, 3, 4, 5, 6]
 
# Enter 5 students first names
f_name = ['Nikhil', 'Nisha', 'Abhinav', 'Raju', 'Anshul']
 
# Enter 5 students last names
l_name = ['Aggarwal', 'Rawat', 'Tomar', 'Kumar', 'Aggarwal']
 
# Enter their gender respectively
gender = ['M', 'F', 'M', 'M', 'F']
 
# Enter their joining data respectively
date = ['2019-08-24', '2020-01-01', '2018-05-14', '2015-02-02', '2018-05-14']
 
for i in range(5):
    # This is the q-mark style:
    crsr.execute(f'INSERT INTO emp VALUES ({pk[i]}, "{f_name[i]}", "{l_name[i]}", "{gender[i]}", "{date[i]}")')
 
# To save the changes in the files. Never skip this.
# If we skip this, nothing will be saved in the database.
connection.commit()
 
# close the connection
connection.close()

In [8]:
# importing the module
import sqlite3
 
# connect with the myTable database
connection = sqlite3.connect("gfg.db")
 
# cursor object
crsr = connection.cursor()
 
# execute the command to fetch all the data from the table emp
crsr.execute("SELECT * FROM emp")
 
# store all the fetched data in the ans variable
ans = crsr.fetchall()
 
# Since we have already selected all the data entries
# using the "SELECT *" SQL command and stored them in
# the ans variable, all we need to do now is to print
# out the ans variable
for i in ans:
    print(i)

(1, 'Bill', 'Gates', 'M', '1980-10-28')
(2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24')
(3, 'Nisha', 'Rawat', 'F', '2020-01-01')
(4, 'Abhinav', 'Tomar', 'M', '2018-05-14')
(5, 'Raju', 'Kumar', 'M', '2015-02-02')
(6, 'Anshul', 'Aggarwal', 'F', '2018-05-14')
(23, 'Rishabh', 'Bansal', 'M', '2014-03-28')

In [9]:
type(ans[0])

tuple

In [10]:
# Import module
import sqlite3
 
# Connecting to sqlite
conn = sqlite3.connect('gfg.db')
 
# Creating a cursor object using
# the cursor() method
cursor = conn.cursor()
 
# Updating
cursor.execute('''
UPDATE emp SET lname = "Jyoti" WHERE fname="Rishabh";
''')
 
# Commit your changes in the database
conn.commit()
 
# Closing the connection
conn.close()

In [11]:
crsr.execute("SELECT * FROM emp")
ans = crsr.fetchall()
ans

[(1, 'Bill', 'Gates', 'M', '1980-10-28'),
 (2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24'),
 (3, 'Nisha', 'Rawat', 'F', '2020-01-01'),
 (4, 'Abhinav', 'Tomar', 'M', '2018-05-14'),
 (5, 'Raju', 'Kumar', 'M', '2015-02-02'),
 (6, 'Anshul', 'Aggarwal', 'F', '2018-05-14'),
 (23, 'Rishabh', 'Jyoti', 'M', '2014-03-28')]

In [12]:
# Import module
import sqlite3
 
# Connecting to sqlite
conn = sqlite3.connect('gfg.db')
 
# Creating a cursor object using
# the cursor() method
cursor = conn.cursor()
 
# Updating
cursor.execute('''
DELETE FROM emp WHERE fname="Rishabh";
''')
 
# Commit your changes in the database
conn.commit()
 
# Closing the connection
conn.close()

In [13]:
crsr.execute("SELECT * FROM emp")
ans = crsr.fetchall()
ans

[(1, 'Bill', 'Gates', 'M', '1980-10-28'),
 (2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24'),
 (3, 'Nisha', 'Rawat', 'F', '2020-01-01'),
 (4, 'Abhinav', 'Tomar', 'M', '2018-05-14'),
 (5, 'Raju', 'Kumar', 'M', '2015-02-02'),
 (6, 'Anshul', 'Aggarwal', 'F', '2018-05-14')]

In [14]:
import sqlite3
 
# connecting to the database
connection = sqlite3.connect("gfg.db")
 
# cursor
crsr = connection.cursor()
 
# SQL command to create a table in the database
sql_command = """
CREATE TABLE Student (
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE);
"""
 
# execute the statement
crsr.execute(sql_command)
 
# close the connection
connection.close()

In [15]:
# Import module
import sqlite3
 
# Connecting to sqlite
conn = sqlite3.connect('gfg.db')
 
# Creating a cursor object using
# the cursor() method
cursor = conn.cursor()
 
# Updating
cursor.execute('''
DROP TABLE Student;
''')
 
# Commit your changes in the database
conn.commit()
 
# Closing the connection
conn.close()

In [16]:
try:
  conn = sqlite3.connect('gfg.db')
  crsr = conn.cursor()
  crsr.execute("SELECT * FROM Student")
  ans = crsr.fetchall()
  
except Exception as ans:
  print(ans)

no such table: Student